@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: #0B132A;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

ul li {
  display: inline-block;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding: 45px 0;

  &__item {
    line-height: 19px;
    color: #4F5665;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__check-in {
    font-weight: 500;
    line-height: 19px;
    color: #0B132A;
  }
}

.btn-check-in {
  font-weight: 500;
  line-height: 19px;
  color: #F53855;
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  margin-left: 30px;
  background: transparent;
}

.hero {
  padding: 87px 0 102px;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
    padding-top: 15px;

    span {
      font-weight: 600;
    }
  }
}

.section__desk {
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 50px;

  &__footer {
    margin: 20px 0 30px;
    line-height: 30px;
  }
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

.btn-section {
  font-weight: bold;
  line-height: 25px;
  color: #FFFFFF;
  padding: 17.5px 77.5px;
  background: #F53838;
  border-radius: 10px;
  border-color: #F53838;
  box-shadow: 1px 26px 41px -3px rgba(245, 56, 56, 0.35);

}

.info {
  padding: 67px 0 91px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 243px;
    //box-shadow: 18px 61px 30px 16px #0d102506;
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;

    &-modifier:before {
      content: "";
      border: 1px solid #EEEFF2;
      height: 125.57px;
      left: -115px;
      position: absolute;
    }

    &-modifier:after {
      content: "";
      border: 1px solid #EEEFF2;
      height: 125.57px;
      right: -115px;
      position: absolute;
    }
  }

  &__icon {
    background: #FFECEC;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
  }

  &__numbers {
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;

    span {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 5px;
    }
  }
}

.feature {
  padding: 95px 0 34px 126px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 170px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__desk {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    svg {
      margin-right: 12px;
    }
  }

  &__text {
    line-height: 30px;
    color: #4F5665;
    margin: 20px 0;

  }
}

.plan {
  padding: 80px 0 150px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }

  &__box {
    padding: 79px 69px 50px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;

    &:hover {
      border: 2px solid #F53838;
      border-radius: 10px;
    }

    &:hover .plan__btn {
      background: #F53838;
      color: white;
      box-shadow: 1px 26px 41px -3px rgba(245, 56, 56, 0.35);
    }
  }

  &__desk {
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: #4F5665;
    margin-bottom: 10px;

    svg {
      margin-right: 25px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin: 30px 0;
  }

  &__btn {
    font-weight: bold;
    line-height: 19px;
    color: #F53838;
    padding: 13px 63px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background: #FFFFFF;
    margin-top: 20px;

  }

  &__price {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    &--free {
      margin: 130px 0 20px;
    }

    &--standard {
      margin: 90px 0 20px;
    }

    &--premium {
      margin: 50px 0 20px;
    }

  }
}

.vpn {
  padding: 50px 0 88px;
  text-align: center;

  &__img {
    margin-top: 150px;

    &:hover svg {
      border-color: aqua;
    }

  }
}

.mark-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  text-align: center;
  padding: 50px 0 204px;

  &__container {
    max-width: 1440px;
    position: relative;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
  }

  &__box {
    padding: 30px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
  }

  &__desk {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: left;
    font-weight: 500;
    font-size: 18px;

    display: flex;
    align-items: center;
  }

  &__text {
    text-align: left;
    margin-top: 20px;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__about {
    display: flex;
    align-items: center;

    svg {
      margin-left: 11px;
    }
  }

  &__info {
    margin: 0 50px 0 20px;

  }
}

.subscribe {
  padding: 58px 70px;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 115px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 378px;

  }

}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot.active span {
  background: #ff0018;
  width: 30px;
}

.owl-dots {
  position: absolute;
}

.owl-item.active.blog-row {
  border: none;
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}

.direction {
  display: flex;
  justify-content: flex-end;

  &__left, &__right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

.owl-prev.disabled, .owl-next.disabled {
  .direction__left, .direction__right {
    svg[fill] {
      fill: #FFFFFF;
    }

    background: #F53838;
    border: 2px solid #F53838;
    box-sizing: border-box;
    box-shadow: 0 14px 44px rgba(14, 20, 34, 0.08);
  }
}

.owl-item.active {
  .review__box:nth-child(1) {
    border: 2px solid #F53838;

  }
}

.footer {
  padding: 180px 0 100px;
  background: #F8F8F8;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 220px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-column-gap: 126px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__link {
    line-height: 30px;
    margin-bottom: 10px;
    color: #4F5665;
  }

  &__socials {
    margin-bottom: 30px;


  }

  //&__logo{
  //  display: inline-block;
  //  svg{
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //
  //  }
}

.fab {
  &fa-facebook-f, &fa-twitter, &fa-instagram {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: white;
    color: #F53838;
  }
}



.indonesia:hover{
  transform: scale(1.4);
  fill: #0B132A;
}

.hov{

}